.overlay {
    height: 800px;
    background: url(imgs/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
   
    
  }
  .box{
    height: 800px;
    background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8));
    

  }
  .overlay h3,p{
    color: beige;
    
  }
  .blog{
    height: 300px;
    width: 100%;
    background-color: brown;
  }